.cache/
workspace/
straight/
transient/
snippets/
elpa/
eshell/
autosave/
backups/
auto-save-list/
auto/
.emacs.desktop*
places
savehist
history
.lsp-session-v1
config.el
recentf
*.elc
*.eld
custom-variables.el
/.mc-lists.el
/amx-items
*.sqlite
.dap-breakpoints
*.cache
org-gcal/
persist/
eln-cache/
projects
oauth2.plstore
gcal.el
bookmarks
.org-generic-id-locations
.org-id-locations
secrets.json
cider-history
tramp
undo/
url/
